<p>
    These docs assume that you are already familiar with HTML, CSS, JavaScript,
     and some of the tools from the latest standards, such as classes and modules.
     The code samples are written using TypeScript. Most Angular code can be written
     with just the latest JavaScript, using types for dependency injection, and using
     decorators for metadata.
</p>

<p>
    These docs assume that you are already familiar with HTML, CSS, JavaScript,
     and some of the tools from the latest standards, such as classes and modules.
     The code samples are written using TypeScript. Most Angular code can be written
     with just the latest JavaScript, using types for dependency injection, and using
     decorators for metadata.
</p>

<h2>Spread & Rest</h2>
<p><strong>SPREAD</strong> means spreading out the elements in an array while <strong>REST</strong> is gathering
up parameters and putting them in a <em>single array</em></p>
